.spectre-doublecard {
    margin: 0 -15px;
    padding-bottom: 32px;

    @include bp(sm1) {
        margin: 0;
    }
    @include bp(xxl) {
        padding-bottom: 60px;
    }
    @include bp(fhd) {
        padding-bottom: 95px;
    }

    .spectre-title {
        margin: 0 0 3px;
        padding: 0;

        @include bp(md1) {
            margin-bottom: 59px;
        }
        @include bp(fhd) {
            margin-bottom: 65px;
        }

        &:before {
            display: none;
        }
    }

    &__wrap {
        @include bp(xxl) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -27px;
        }
        @include bp(fhd) {
            margin-left: -36px;
        }
    }

    &__item {
        margin: 0 0 10px;
        padding: 0 0 50px;
        position: relative;

        @include bp(xxl) {
            margin: 0 0 40px 27px;
            flex: 0 0 calc(33.33% - 27px);
            max-width: calc(33.33% - 27px);
            padding: 0 15px 70px;
            margin-bottom: 20px;
        }
        @include bp(fhd) {
            flex: 0 0 calc(33.33% - 36px);
            max-width: calc(33.33% - 36px);
            padding: 0 0 70px;
            margin-left: 36px;
        }

        &:before {
            position: absolute;
            content: '';
            color: #72b2e1;
            top: 0;
            left: 0;
            pointer-events: none;
            width: 110px;
            height: 110px;
            background: url(../images/dist/doublecard_number1.png) 0 0 / 100% no-repeat;

            @include bp(xxl) {
                width: 136px;
                height: 136px;
            }
            @include bp(fhd) {
                width: 192px;
                height: 192px;
            }
        }

        &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            border-top: 1px solid #96949C;
            opacity: 0.5;

            @include bp(xxl) {
                border-top: none;
                border-left: 1px solid #96949C;
                top: 20px;
                left: -10px;
                bottom: 20px;
                right: auto;
            }
            @include bp(fhd) {
                top: 30px;
                bottom: 30px;
            }
        }

        &:nth-child(1), &:nth-child(4) {
            &:after {
                @include bp(xxl) {
                    display: none;
                }
            }
        }

        &:nth-child(2):before {
            background-image: url(../images/dist/doublecard_number2.png);
        }

        &:nth-child(3):before {
            background-image: url(../images/dist/doublecard_number3.png);
        }

        &:nth-child(4):before {
            background-image: url(../images/dist/doublecard_number4.png);
        }

        &:nth-child(5):before {
            background-image: url(../images/dist/doublecard_number5.png);
        }

        &:nth-last-child(1), &:nth-last-child(2) {
            &:after {
                display: none;

                @include bp(xxl) {
                    display: block;
                }
            }
        }

        &:nth-last-child(1):after {
            @include bp(xxl) {
                top: 0;
                bottom: 0;
            }
        }

        &--form {
            background: url(../images/dist/form_bg1.png) 50% 50% / cover no-repeat;
            padding: 35px 60px ;
            min-height: 242px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-left: -25px;
            margin-right: -25px;

            @include bp(sm) {
                margin-left: -40px;
                margin-right: -40px;
            }
            @include bp(xxl) {
                margin: 0 0 0 27px;
                padding: 24px 60px 30px;
                align-self: flex-start;
            }
            @include bp(fhd) {
                margin-left: 36px;
            }

            & > * {
                position: relative;
            }

            &:before {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: #2C2839;
                opacity: 0.6;
                width: 100%;
                height: 100%;
            }
        }
    }

    &__title {
        padding: 0 0 0 100px;
        margin-bottom: 10px;
        position: relative;
        font-size: 16px;
        line-height: 20px;
        color: #2C2839;
        font-weight: 600;
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-height: 96px;
        width: 100%;

        @include bp(xxl) {
            font-size: 20px;
            line-height: 24px;
            padding-left: 110px;
            letter-spacing: -0.5px;
            min-height: 136px;
        }
        @include bp(fhd) {
            font-size: 27px;
            line-height: 33px;
            padding-left: 180px;
            min-height: 160px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 20px;
        text-align: right;
        color: #2C2839;
    }

    &__form {

        &-field {
            margin-bottom: 17px;

            @include bp(fhd) {
                margin-bottom: 28px;
                padding: 0 30px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-title {
            font-size: 18px;
            line-height: 22px;
            color: #fff;
            font-weight: 600;
            margin: 0 -25px 20px;

            &--success {
                display: none;

                div {
                    font-size: 17px;
                    line-height: 1.4;
                    font-weight: normal;
                    margin: 15px -20px 0;
                }
            }
        }

        &-button {
            width: 100%;
            height: 30px;
            font-size: 13px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

        .spectre-input {
            height: 36px;

            @include bp(xxl) {
                height: 38px;
            }   
        }

        .spectre-btn {
            height: 44px;
            position: relative;

            @include bp(xxl) {
                height: 46px;
                font-size: 16px;
            }

            &:before {
                position: absolute;
                content: '';
                right: -4px;
                top: 4px;
                left: 4px;
                bottom: -4px;
                border: 1px solid #F83A16;
            }
        }
    }
}