.spectre-map {
    padding-bottom: 30px;

    .spectre-title {
        text-align: center;
    }

    &__wrap {
        margin: 0 -40px;
    }

    &__map {
        height: 246px;

        @include bp(xxl) {
            height: 318px;
        }
        @include bp(fhd) {
            height: 427px;
        }
    }

    .leaflet-marker-icon {
        padding: 5px;
        position: relative;
        background: #2c2839;
    }
}